@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-font{
  font-family: "Montserrat"
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

